langchain==1.2.10
langgraph==1.0.10
langchain-core==1.2.17
langchain-community==0.4.1
langchain-openai==1.1.10
python-dotenv==1.2.2
chromadb==1.5.2
beautifulsoup4==4.14.3
pytest==9.0.2
duckduckgo-search==8.1.1